.home {
  background: linear-gradient(135deg, #383638, #0b0b0b);
}

.search-box:hover {
  transition: all 0.6s;
  box-shadow: 10px 10px 0px 10px#103483;
}

.input-box {
  display: flex;
}

.results-box div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  color: white; /* Yozuvlarni oq qilish */
  background: #061553; /* Orqa fonni ham quyuqroq qilib berdim */
}

.results-box div:hover {
  background: #3858d6;
  color: white;
}

.results-box {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  background: white;
}

.results-box div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.results-box div:hover {
  background: #3858d6;
  color: white;
}

.input-box button:hover {
  background-color: #061553;
  transition: all 0.6s;
}
.input-box button {
  padding: 15px 36px;
  border: none;
  border-radius: 8px;
  background-color: #3858d6;
  color: white;
}

.input-box input {
  padding: 15px 56px;
  border: none;
  border-radius: 8px;
}

.search-box input::placeholder {
  color: #aaa;
}

.search-box button {
  background: #3b5bfd;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 8px;
}

.home-section {
  padding-bottom: 142px;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  padding-top: 300px;
}

.home-left p {
  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  max-width: 456px;
  margin-bottom: 47px;
}

.home-left h1 {
  color: #fff;
  font-family: Playfair Display SC;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0%;
  max-width: 457px;
  margin-bottom: 20px;
}

.search-box button:hover {
  background: #0e1b64;
}

.home-right img {
  width: 100%;
}

.home-section {
  display: flex;
  gap: 30px;
}

.home-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-right img {
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .search-box {
    padding: 4px 8px;
  }
  .search-box input {
    font-size: 12px;
    padding: 8px;
  }
  .search-box button {
    padding: 8px 14px;
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .home-section {
    flex-wrap: wrap;
    width: 100%;
  }
}
